<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-fw"></i> Página Inicial</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Inscricao")"><i class="fa fa-eye fa-fw"></i> Inscrições</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Edital")"><i class="fa fa-folder-open fa-fw"></i> Editais</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "TipoArquivo")"><i class="fa fa-paperclip fa-fw"></i> Tipos de Anexos</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Gestor")"><i class="fa fa-user fa-fw"></i> Gestores</a>
            </li>           
        </ul>
    </div>
</div>