@model Siscred.Application.ViewModel.RecuperarSenhaVm

@using (Html.BeginForm("RecuperarSenha", "Conta", FormMethod.Post, new { id = "formRecuperarSenha", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recuperação de senha</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    Informe seu e-mail junto ao código de verificação e clique em confirmar. Após este procedimento será enviado as instruções para redefinição de sua senha no seu correio eletrônico.
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", required = "" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group">
                    <img src="@Url.Action("GetCaptcha","Captcha")" />
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control", placeholder = "Digite o código exibido acima", required = "" })
                    @Html.ValidationMessageFor(m => m.Captcha)
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-confirmar" type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span class="ui-button-text">Confirmar</span>
                </button>
                <button id="btn-cancelar" type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="ui-button-text">Cancelar</span>
                </button>
            </div>
        </div>
    </div>
}