@model Siscred.Application.ViewModel.TipoArquivoVm

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Descricao)
    @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Descricao)
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Observacao)
    @Html.TextBoxFor(m => m.Observacao, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Observacao)
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Obrigatorio)
    @Html.DropDownListFor(model => model.Obrigatorio, new List<SelectListItem>()
{
new SelectListItem() { Text = "Sim", Value = "True" },
new SelectListItem() { Text = "Não", Value = "False"}
}, "Selecione...", new { @class = "form-control", @id = "Obrigatorio" })
    @Html.ValidationMessageFor(model => model.Obrigatorio)
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(m => m.FinalidadeArquivo)
    @Html.EnumDropDownListFor(m => m.FinalidadeArquivo, "Selecione..." ,new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FinalidadeArquivo)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(m => m.ModeloArquivo)
    <div class="input-group input-file">
        <div class="form-control">
            <a href="@(Model != null && !string.IsNullOrWhiteSpace(Model.Modelo) ? Url.Content(Model.Modelo) : "#")" target="_blank">
                @(Model != null && !string.IsNullOrWhiteSpace(Model.NomeOriginal) ? Model.NomeOriginal : string.Empty)
            </a>
        </div>
        <span class="input-group-addon">
            <a class="btn btn-success" href="javascript:;">
                Anexar
                <input value="" type="file" name="ModeloArquivo" id="ModeloArquivo" onchange="$(this).parent().parent().parent().find('.form-control').html($(this).val().match(/^.*\\(.*)$/)[1]);">
            </a>
        </span>
    </div>
    @Html.ValidationMessageFor(m => m.ModeloArquivo)
    <small class="form-text text-muted">O formato deve ser *.pdf entretanto não é obrigatório.</small>
</div>
<div class="form-group col-md-12">
    @Html.Partial("_Button")
</div>                 